@page "/services"

<PageTitle>Services</PageTitle>

<section class="services py-5">
    <div class="container">
        <h1 class="text-center text-uppercase">Our Services</h1>
        <p class="intro text-center mb-5">
            At Softxpertise, we specialize in crafting solutions that empower your digital journey. Explore our core services designed to meet your unique needs.
        </p>
        <div class="row mt-4">
            <!-- Service 1 -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-laptop display-4 text-primary"></i>
                        <h5 class="card-title mt-3">Web Development</h5>
                        <p class="card-text">Responsive websites, SPAs, and scalable e-commerce platforms using .NET and Blazor.</p>
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-4">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service 2 -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-windows display-4 text-primary"></i>
                        <h5 class="card-title mt-3">Desktop Applications</h5>
                        <p class="card-text">Reliable and efficient software for Windows platforms using .NET Core and WPF.</p>
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-4">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-tools display-4 text-primary"></i>
                        <h5 class="card-title mt-3">Maintenance & Support</h5>
                        <p class="card-text">Preventative maintenance, troubleshooting, and regular updates for smooth operations.</p>
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-4">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>